Multilingual E5/Data/*
Multilingual E5/Project/DerivedData/formAttributes.json
Multilingual E5/Project/DerivedData/methodAttributes.json
Multilingual E5/userPreferences.*
Multilingual E5/Resources/*
Multilingual E5/Project/DerivedData/1/formAttributes.json
